<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesión</title>

    <!-- Styles -->
    <link  rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body class="agendamiento">
    <div class="wrapper">
        <!-- Header -->
        <div class="cont-header">
            <div class="logo">
                <a href="/"><img src="../static/img/logo.png" alt="Medical" /></a>
            </div>
            <a href="/usuario"class="volver" ><i class="fa fa-reply"></i><span>Volver</span></a>
            <div class="nav">
                <div class="date-user">
                    <div class="box-name-user"><p><strong>Bienvenido</strong> <span class="name">{{paciente.nombres}}</span></p></div>
                    <div class="btn-logout"><a href="/logout/">Salir</a></div>
                    <img class="icon-user" src="../static/img/icon-user.png" />
                </div>
                <!-- Menu -->
                <div class="menu-superior">
                    <div class="menu-toggle">
                        <span class="fa fa-plus"></span>
                    </div>
                    <div class="menu-line">
                        <div class="btn-app">
                            <a href ="/agendamiento">
                                <div class="icon-nav">
                                    <span class="fa fa-calendar"></span>
                                </div>
                                <div class="item-menu">Agendar Cita</div>
                            </a>
                        </div>
                        <div class="btn-app">
                            <a href ="/consultas">
                                <div class="icon-nav">
                                    <i class="fa fa-list-alt"></i>
                                </div>
                                <div class="item-menu">Consultar</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-formulario">
            <div class="header">
                <h1 class="title-section">Agendamiento</h1>                    
            </div>
            <div class="img-lateral">
                <img src="../static/img/img-banner-1.png" class="Iniciar Sesi{on" />
            </div>
            <div class="interna-body">
                {{mensaje}}
                <form action="/cita/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">ID Paciente</label>
                        <input type="number" class="form-control" id="idpaciente" name="idpaciente" aria-describedby="emailHelp" readonly value="{{paciente.id}}"/>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Fecha</label>
                        <input type="date" class="form-control" id="fechacita" aria-describedby="emailHelp" name="fechacita"/>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Médico</label>
                        <select class="form-control" id="idmedico" name="idmedico">
                            <option value="">---------</option>
                        {% for medico in medicos%}
                            <option value="{{medico.id}}">{{medico.apellidos}}, {{medico.nombres}}</option>
                        {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="hora">Hora</label>
                        <select class="form-control" id="hora" name="hora">
                            <option value="">---------</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <p id="jqtest"></p>
                    </div>
                    <div class="form-group" style="visibility: hidden">
                        <label for="exampleInputPassword1">Ciudad</label>
                        <input type="text" class="form-control" id="passwordUsuario" />
                    </div>

                    <button type="submit" class="btn btn-primary btn-enviar">Agendar</button>
                </form>
            </div>
        </div>
    </div>


    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="../static/js/custom.js"></script>
    <script type="text/javascript">
        $(document).ready(
            function(){
            $("#jqtest").html("JQuery installed successfully!");
            }
        );
    </script>
    <!-- script type="text/javascript">
        $(document).ready(function(){
            $('#idmedico').change(function() {
                $("#jqtest").html("Changed date XOXO!");
            })
        });
    </script -->
    <script type="text/javascript">
        $(document).ready(function(){
            $('#idmedico').change(function() {
                var idmedico=$('#idmedico').val();
                var fechacita=$('#fechacita').val();
                $.ajax({
                    method: "POST",
                    url: "/horas",
                    data: {
                        idmedico: idmedico,
                        fechacita: fechacita,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(data) {
                        console.log(data) // check out how data is structured

                        // Update the coin amount
                        $("#jqtest").html("Changed date XOXO! ");
                        let html_data = '<option value="">---------</option>';
                        data.forEach(function (data) {
                            html_data += `<option value="${data.id}">${data.hora}</option>`
                        });
                        $("#hora").html(html_data); // replace the contents of the topic input with the data that came from the server
            
                    }
                })
            })
        });
    </script>
</body>
</html>