<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesión</title>

    <!-- Styles -->
    <link  rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body class="consultar">
    <div class="wrapper">
        <!-- Header -->
        <div class="cont-header">
            <div class="logo">
                <a href="/"><img src="../static/img/logo.png" alt="Medical" /></a>
            </div>
            <a href="/usuario"class="volver" ><i class="fa fa-reply"></i><span>Volver</span></a>
            <div class="nav">
                <div class="date-user">
                    <div class="box-name-user"><p><strong>Bienvenido</strong> <span class="name">Usuario</span></p></div>
                    <div class="btn-logout">Salir</div>
                    <img class="icon-user" src="../static/img/icon-user.png" />
                </div>
                <!-- Menu -->
                <div class="menu-superior">
                    <div class="menu-toggle">
                        <span class="fa fa-plus"></span>
                    </div>
                    <div class="menu-line">
                        <div class="btn-app">
                            <a href ="/agendamiento">
                                <div class="icon-nav">
                                    <span class="fa fa-calendar"></span>
                                </div>
                                <div class="item-menu">Agendar Cita</div>
                            </a>
                        </div>
                        <div class="btn-app">
                            <a href ="/consultas">
                                <div class="icon-nav">
                                    <i class="fa fa-list-alt"></i>
                                </div>
                                <div class="item-menu">Consultar</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-formulario">
            <div class="header">
                <h1 class="title-section">Consultas</h1>                    
            </div>
            <div class="img-lateral">
                <img src="../static/img/img-banner-1.png" class="Iniciar Sesi{on" />
            </div>
            <div class="interna-body">
                <div class="cont-tabla">
                    <!-- TABLA Consultas -->
                    <table id="Consultas-citas" class="table">
                        <!-- HEAD Tablas -->
                        <thead class="thead-dark">
                            <tr>
                            <th scope="col">Fecha</th>
                            <th scope="col">Hora</th>
                            <th scope="col">Doctor</th>
                            <th scope="col">Cancelar</th>
                            </tr>
                        </thead>
                        <tbody>                            
                            <!-- BODY Tablas -->
                            <tr>
                                <td>1/10/21</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td><a class="btn-cancelar"><i class="fa fa-calendar-times-o"></i></a></td>
                            </tr>
                            <tr>
                                <td>2/10/21</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td><button class="btn-cancelar"><i class="fa fa-calendar-times-o"></i></button></td>
                            </tr>
                            <tr>
                                <td>3/10/21</td>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td><button class="btn-cancelar"><i class="fa fa-calendar-times-o"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="../static/js/custom.js"></script>
</body>
</html>